html, body
{
    background-color: aqua;
}

.loginRegisterContainer
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}


.loginRegisterBox
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 20rem;
    height: auto;
    background-color: white;
    -webkit-box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 7px 0px 0px rgba(0,0,0,0.75);
}